body {
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

/* //takes out border highlight from input box in Lesson 1 */
*:focus {
  outline: none;
}

.home {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
}

input {
  background-color: rgba(3, 27, 241, 0.767);
  border: none;
  color: white;
}

.navbar {
  position: relative;
  padding-top: 2%;
}
.brand {
  position: absolute;
  left: 47%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.input {
  position: relative;
  left: 150px;
}

.input button {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  color:black;
  font-size: 15px;
  background: white;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
 
}

.input button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.input p {
  color: red;
}
/********************About*******************/


.hW {
  overflow: hidden;
  animation: type 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
  font-size: 70px;
}

@keyframes type{
  from { width: 0; }
}



/******************* Lesson ONE ************************/

#work.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 900px;
  height: auto;
  /* background: #f1f1f1; */
  margin: 40px auto 40px;
  word-break: break-all;
  border: 1px solid rgb(255, 255, 255);

}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 30%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 0, 0);
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: rgb(65, 57, 57);
  
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
  color: black;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
  
}


button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
  background-color: rgba(3, 27, 241, 0.767);
}
.content {
  /* background: rgb(0, 0, 0); */
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 80%;
  height: auto;
  display: none;
  white-space: pre;
  color: gray;
}

.content h2 {
  padding: 0px 0 5px 0px;
  font-size: 25px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 15px;
}
.content p {
  width: 80%;
  height: 100%;
  position: relative;
  
}
.active-content {
  display: block;
}




/* centerd MAIN text and text alignment */
.sec {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 27%;
  margin: -25px 0 0 -25px;
}

.navig a:hover{
  color: white;
  box-shadow: black;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.whiten {
  color: white;
}

/******Input******/

.red {
  background: 'red'
}
.blue {
  background: 'blue'
}

